.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 

### Primary

- Desaturated Red: hsl(0, 36%, 70%)
- Soft Red: hsl(0, 93%, 68%) 

### Neutral

- Dark Grayish Red: hsl(0, 6%, 24%)

### Gradients

- Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%)
- Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%)

#### Fonts

font-family: 'Josefin Sans', sans-serif;

*/
body{
    background: linear-gradient(hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    
}
#container{
    overflow: auto;
    height: 100vh;
}

#logo{
    padding: 2rem;
}

#foto img{
    width: 100vw;
}

#foto .imgDesktop{
    display: none;
}

#text{
    margin: auto;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

#text h1{
    font-weight: 600;
    color: hsl(0, 6%, 24%);
    font-size: 2.5rem;
    text-transform: uppercase;
    margin: 3rem 0;
    letter-spacing: 0.75rem;
}
#text h1 span{
    color: hsl(0, 36%, 70%);
    font-weight: 300;
}
#text p{
    color: hsl(0, 36%, 70%);
    margin: 1.5rem;
    line-height: 1.5rem;
}
form{
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 1rem;
}
#email{
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 5rem;
    height: 3rem;
    width: 18rem;
    background-color: transparent;
    padding: 1.2rem;
    color: hsl(0, 36%, 70%);
    border-color:hsl(0, 80%, 86%);
    outline: 0;
    position: relative;
    right: -2rem;
}

input::placeholder {
    color: hsl(0, 36%, 70%);
    font-family: 'Josefin Sans', sans-serif;
    
}

#custonBtn{
    position: relative;
    right: 2rem;
    bottom: -.25rem;
    width: 4rem;
    height: 3rem;
    border: none;
    /* box-shadow: 2px 2px 10px; */
    border-radius: 5rem;
    background-image: linear-gradient(hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

#error{
    color: hsl(0, 84%, 63%);
    font-family: 'Josefin Sans', sans-serif;
    font-size: .8rem;
    padding-left: 3rem;
    display: none;
    position: relative;
    right: 2rem;
}

#error p{
    display: inline;
    margin-left: 1rem;
    position: relative;
    bottom: 0.5rem;
}

#error img{
    position: relative;
    right: -0.5rem;
    top: -0.2rem;
}


@media (min-width: 1440px){
    #container{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        background-image: url(images/bg-pattern-desktop.svg);
    }
    #logo{
        margin: 2rem;
    }
    #logo img{
        width: 15rem;
    }
    #foto img{
        background-image: url(images/);
        /* position: absolute;
        right: 0rem; */
    }
    #foto .imgMobile{
        display: none;
    }
    #foto .imgDesktop{
        display: inline-block;
        width: 50vw;
    }
    #text{}
}